<template name="processes">
    <div class="pull-right">
       <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createProcess">Create Process</button>
    </div>
    <h3>Processes</h3>
    <div class="row">
      {{#each processes}}
        <div class="col-lg-4 col-md-6">
      <div class="panel b">
         <div class="panel-heading">
            <h4 class="m0">{{name}}</h4>
            <small class="text-muted">{{subtitle}}</small>
         </div>
         <table class="table">
            <tbody>
               <tr>
                  <td>
                     <strong>Start date</strong>
                  </td>
                  <td>01/01/2016</td>
               </tr>
            </tbody>
         </table>
         <div class="panel-footer text-center">
            <a type="button" class="btn btn-default" href="/processes/{{_id}}">Manage Process</a>
         </div>
      </div>
      </div>
      {{/each}}
    </div>
</template>
