<template name="processItem">
    <h3>{{name}}
       <small>{{subtitle}}</small>
    </h3>
    <div class="row">
       <div class="col-lg-8">
          <!-- Main panel-->
          <div class="panel b">
             <div class="panel-heading">
                <h4 class="mv">
                   <span>{{name}} <small>{{subtitle}}</small></span>
                </h4>
             </div>
             <div class="panel-body">
                <h4>Description</h4>
                {{description}}
              </div>
             <div class="panel-body">
                <div data-toggle="buttons" class="btn-group">
                    {{#each applications}}
                      <label class="btn btn-info {{active}} app">
                      <input id="{{name}}" type="radio" name="options" checked="">{{name}}</label>
                    {{/each}}
                </div>
                <button type="button" class="btn btn-labeled btn-warning pull-right" data-toggle="modal" data-target="#addApp">
                    <span class="btn-label"><i class="fa fa-plus"></i>
                    </span>Add Application
                </button>
             </div>
          </div>
          <button type="button" class="btn btn-labeled btn-info pull-right" data-toggle="modal" data-target="#addScenario">
            <span class="btn-label"><i class="fa fa-plus"></i>
            </span>Add Scenario
          </button>
          <div class="row-masonry row-masonry-xl-3 row-masonry-lg-2 row-masonry-md-2 row-masonry-sm-1">
            {{#each scenarios}}
              {{> scenarioItem}}
            {{/each}}
          </div>
        </div>
       <div class="col-lg-4">
          <!-- Aside panel-->
          <div class="panel b">
             <table class="table bb">
                <tbody>
                   <tr>
                      <td>
                         <strong>Start date</strong>
                      </td>
                      <td>{{owner.createdAt}}</td>
                   </tr>
                   <tr>
                      <td>
                         <strong>Time Period</strong>
                      </td>
                      <td>{{timeperiod.duration}} {{timeperiod.type}}(s)</td>
                   </tr>
                   <tr>
                      <td>
                         <strong>Downtime Cost ($/hr)</strong>
                      </td>
                      <td>${{downtime}}</td>
                   </tr>
                   <tr>
                      <td>
                         <strong>Applications</strong>
                      </td>
                      <td>{{appsCount}}</td>
                   </tr>
                </tbody>
             </table>
          </div>
          <!-- end Aside panel-->
       </div>
    </div>
</template>
